.box {
    border: 1px solid black;
    width: 150px;
    height: 200px;

    background-image: conic-gradient(red,yellow,green);

    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}